#container{
    text-align: center;
}

.square{
    display: inline-block;
    background-color: white;
    border: 0.5px;
    border-style: solid;
    box-sizing: border-box;
}

#box{
    width: 960px;
    height: 960px;
    text-align: center;
    margin: auto;
}